nav i {
  margin-right: 5px;
  width: 14px;
  height: 14px; }

nav .navbar-brand {
  padding-top: 12px; }
  nav .navbar-brand img {
    display: inline;
    margin-left: 20px;
    margin-top: -7px; }
  nav .navbar-brand span {
    margin-left: 10px;
    margin-right: 5px;
    font-size: 28px; }

nav .contact a:hover {
  text-decoration: underline; }

.jumbotron .glyphicon {
  color: #2780E3;
  margin-right: 10px;
  width: 26px;
  height: 26px; }

.jumbotron a {
  margin-top: 20px; }

.important .fa {
  margin-right: 10px;
  color: #2780E3;
  width: 10px;
  height: 26px; }

.important h2 {
  font-size: 20px; }

.important span {
  font-weight: 400; }

#magistr li {
  display: block; }

#magistr li:before {
  content: "\e080";
  font-family: 'Glyphicons Halflings';
  font-size: 9px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
  color: #CCCCCC; }

#magistr > ul > li {
  margin-bottom: 15px; }

#fz54 li {
  display: block; }

#fz54 li:before {
  content: "\e080";
  font-family: 'Glyphicons Halflings';
  font-size: 9px;
  float: left;
  margin-top: 4px;
  margin-left: -17px;
  color: #CCCCCC; }

#documents .decree-main {
  margin-bottom: 0; }
  #documents .decree-main a {
    font-weight: 500; }

#documents .decree-about {
  font-size: 12px; }

#documents #go-up {
  margin-left: 15px; }
