extends ext/layout.pug

block content
    article#fz54
        h1 54-ФЗ «О применении контрольно-кассовой техники»
        p Президент РФ В.В.Путин 3 июля 2016 года подписал поправки в закон 54-ФЗ «О применении контрольно-кассовой техники». В соответствии с этими поправками все организации розничной торговли обязаны использовать онлайн-кассы, которые будут передавать через Интернет данные о расчетах с покупателями. 
        
        h3 Что изменится?
        ul
            li Контрольно кассовая техника (ККТ) вместо ЭКЛЗ должна иметь фискальный накопитель (ФН). 
            li ККТ требуется подключить к Интернету.
            li При формировании чека данные о покупке в режиме реального времени через Интернет отсылаются  оператору фискальных данных (ОФД). 
            li После обработки данные о продаже из ОФД передаются в налоговые органы. 
            li Налоговые органы проверяют присланную информацию,  и результаты возвращают ОФД.  
            li ОФД отсылает информацию на ККТ, чек считается завершенным.
            li Если касса не получила подтверждение по чеку из ОФД, то чек считается не подтвержденным и касса будет повторно отсылать его в ОФД. 
            li Если в течение 30 дней касса не сможет отослать чек в ОФД, её работа будет заблокирована.
            li По желанию покупателя, кроме бумажной версии чека он может получить чек в  электронном виде письмом на электронную почту или СМС сообщением на телефон.
        
        h3 Что делать:
        ul
            li Приобрести новый ККТ с фискальным накопителем, либо модернизировать имеющийся кассовый аппарат, купив комплект доработки.
            li Заключить договор на передачу данных в ОФД. 
            li Снять старую кассу с учёта в налоговой инспекции.
            li Установить и настроить драйвера для новой ККТ. 
            li Установить и настроить новую кассовую программу. 
            li Подключить новую или модернизированную ККТ к Интернету.
            li Зарегистрировать ККТ в налоговой инспекции.
        p Выполнив эту работу, аптека будет подготовлена для работы в новых условиях.
        
        h3 Сроки 
        p С 1 февраля 2017 года налоговые органы будут регистрировать и перерегистрировать только ККТ с фискальным накопителем.
        p С 1 июля 2017 года наличные денежные расчеты и (или) расчеты с использованием платежных карт могут проводиться только с использованием ККТ с фискальным накопителем.
        p С 1 июля 2018 года предприятия розничной торговли, работавшие без касс, на системах налогообложения ПСН и ЕНВД также в обязательном порядке должны перейти на работу с новыми ККТ. 
        
        h3 Ответственность
        p Неприменение контрольно-кассовой техники влечет наложение административного штрафа:
        ul
            li на должностных лиц в размере от 10 000 рублей; 
            li на юридических лиц - от 30 000 рублей.

        h3 Схема перехода на работу с онлайн-кассами:
        ul
            li Подключить POS-систему к сети Интернет.
            li Получить пароль в своей налоговой инспекции для регистрации личного кабинета налогоплательщика на сайте  www.nalog.ru. 
            li Получить в удостоверяющем центре усиленную #[a(href="http://www.iecp.ru/ep/uc-list") квалифицированную электронную подпись].
            li Заключить договор на подключение к ОФД (ООО «ФАРМКОМ»).
            li Определить возможность модернизации кассы (ООО «ФАРМКОМ»).
            li Заключить договор на техническое обслуживание ( ООО «ИЗОТ»).
            li Приобрести комплект модернизации ККТ (ООО «ФАРМКОМ»).
            li Приобрести новую версию модуля «Магистр.Первый стол» (ООО «ФАРМКОМ»)
            li Определить время для модернизации ККТ.
            li Снять старую кассу с учета в ИФНС.
            li Модернизация старой кассы 
            li Регистрации модернизированной кассы через личный кабинет налогоплательщика в онлайн режиме.
            li Установить новую версию модуля «Магистр.Первый стол»,  подключить и настроить кассу.
