extends ext/layout.pug

block content
    script.
        $('#navbar li').removeClass('active')
        $('#menu-item-about').addClass('active')

    h1 О компании Фармком
    
    p ФАРМКОМ прочно занимает одно из лидирующих мест среди фирм, занимающихся автоматизацией аптечных предприятий, и имеет огромный  опыт работы в этой области. Программные комплексы компании позволяют автоматизировать любое аптечное предприятие – от небольшого пункта до крупной аптечной сети. 
    
    p Нашими клиентами являются около 200 аптечных предприятий Москвы и Московской области. История ФАРМКОМа начинается в 1992 году, когда была установлена в аптеке наша первая программа - «Льготные рецепты». В 1994 году специалистами фирмы была разработана еще одна программа - «Поставщики», которая создавалась в соавторстве с аптеками и учла все конкретные потребности и пожелания пользователей по учёту движения товаров. На смену ей в настоящее время пришёл современный программный комплекс «МАГИСТР», построенный по модульному принципу, предназначен для автоматизации бизнес-процессов и управления аптечными предприятиями. Во многом успешная работа ФАРМКОМа определяется тем, что программные разработки фирмы были изначально специально нацелены на автоматизацию сложных процессов управления именно аптечным предприятием.
    
    p Бессменный руководитель ФАРМКОМ Алексей Анатольевич Агафонов, возглавляющий компанию с момента её создания, имеет биохимическое и фармакологическое образование, поэтому отлично разбирается в тонкостях работы аптеки. Все сотрудники нашего дружного коллектива - высококлассные специалисты и профессионалы своего дела. Большой опыт работы и высокий профессионализм позволяют нам легко найти общий язык с руководителями аптечных предприятий, грамотно проконсультировать и подобрать вариант автоматизации, подходящий именно для данной аптеки.
    
    p ФАРМКОМ занимается также сопровождением своих программ. Сотрудники фирмы быстро реагируют на все проблемы, возникающие у клиентов в процессе работы с программным продуктом. У нас организована «горячая линия», по которой Вас оперативно проконсультируют, что делать в затруднительной ситуации. Если какие-то вопросы нельзя решить по телефону, сотрудники «ФАРМКОМа» приедут непосредственно в аптеку, где на месте решат все проблемы. Приобретая наш программный продукт, Вы никогда не останетесь один на один со своими проблемами. Вам всегда окажут высоко квалифицированную помощь.