extends ext/layout.pug

block content
    script.
        $('#navbar li').removeClass('active')
        $('#menu-item-documents').addClass('active')
    #documents
        .row
            .col-md-9
                h1 Нормативные документы для аптек
                include ext/documents.html
            .col-md-3
                nav.hidden-print.hidden-sm.hidden-xs.affix
                    ul.nav
                        include ext/documents-nav.html
                    hr
                    a#go-up(href="#top") 
                        i.fa.fa-arrow-circle-o-up
                        span Вверх