extends ext/layout.pug

block content
    .jumbotron
        h1.display-3 Автоматизация аптек
        br
        p 
            i.glyphicon.glyphicon-hand-right
            span Более 25 лет на рынке автоматизации аптечного бизнеса.
        p 
            i.glyphicon.glyphicon-hand-right
            span Более 200 аптечных предприятий работает на программном комплексе МАГИСТР.
        p: a.btn.btn-primary.btn-lg(href="magistr.html") Подробнее
    .important
        a(href="http://prikaz647.ru")
            h2
                i.fa.fa-exclamation
                span 647 приказ Министерства здавоохранения РФ
                span.name  «Об утверждении правил надлежащей аптечной практики лекарственных препаратов для медицинского применения»
        p С 01 марта 2017 г. вступает в действие приказ Минздрава РФ от 31 августа 2016 г. № 647н «Об утверждении правил надлежащей аптечной практики лекарственных препаратов» Утвержденные правила устанавливают требования к осуществлению розничной торговли аптечными организациями.
        <hr>
        a(href="54fz.html")
            h2 
                i.fa.fa-exclamation
                span 54-ФЗ 
                span.name «О применении контрольно-кассовой техники»
        p Президент РФ В.В.Путин 3 июля 2016 года подписал поправки в закон 54-ФЗ «О применении контрольно-кассовой техники». В соответствии с этими поправками все организации розничной торговли обязаны использовать онлайн-кассы, которые будут передавать через Интернет данные о расчетах с покупателями. 

