extends ext/layout.pug

block content
    .jumbotron
        h1.display-3 Автоматизация аптек
        br
        p 
            span.glyphicon.glyphicon-education
            span Более 25 лет на рынке автоматизации аптечного бизнеса.
        p 
            span.glyphicon.glyphicon-education
            span Более 200 аптечных предприятий автоматизированно с помощью системы Магистр.
        p: a.btn.btn-primary.btn-lg Подробнее
