extends ext/layout.pug

block content
    script.
        $('#navbar li').removeClass('active')
        $('#menu-item-magistr').addClass('active')
    #magistr
        h1 МАГИСТР

        p Программный комплекс «МАГИСТР» предназначен для автоматизации бизнес-процесов в аптечных организациях. В нём заложен принцип создания иллюзии простоты, защиты пользователя от сложности процессов. Трудоёмкие статистические расчеты, математические и экономические методы анализа скрыты от пользователей. Тщательно спроектированные экранные формы позволяют видеть на экране всю необходимую информацию, что делает не нужным построение большинства отчетов. 

        p При построении интерфейса пользователя используются принципы объектного подхода, обеспечивающие максимальные удобства в работе и минимальные затраты для получения требуемой информации и построения разнообразных отчетов. 

        p Разработанный нами многоуровневый товарный справочник даёт возможность программному комплексу «МАГИСТР» использовать разную степень детализации описания товара в зависимости от решаемой задачи.

        p Содержащаяся и регулярно обновляемая база данных недоброкачественных лекарственных средств, подлежащих изъятию, позволяет оперативно выявлять появление на рынке таких препаратов и предотвращать их поступление к потребителю. 

        p Программный комплекс «МАГИСТР» позволяет строить грамотную ценовую политику, учитывая социальную значимость аптечного бизнеса. Это достигается : 
        ul
            li владением достоверной информацией, для обоснованности и своевременности принимаемых решений;
            li снижением трудозатрат на операциях по управлению товарными запасами;
            li оптимизацией ассортимента аптечного предприятия;
            li увеличением оборачиваемости товарных остатков;
            li повышением эффективности производственных процессов;
            li снижением времени и повышение качества обслуживания покупателей;
            li повышением квалификации сотрудников;
            li минимизацией издержек ведения бизнеса;
            li прибыльностью и устойчивостью работы, ростом конкурентной способности аптечного предприятия.

        p Встроенные функции контроля за исполнением нормативных документов, в частности #[a(href="https://rg.ru/2009/08/14/lekarstva-dok.html") Постановление Правительства РФ от 8 августа 2009 г. № 654 «О совершенствовании государственного регулирования цен на жизненно необходимые и важнейшие лекарственные средства»] и региональные законодательные акты по ограничению предельных наценок, значительно снижают вероятность возникновения ошибок при расчете цен на лекарственные средства.

        h3 Модули
        ul 
            li #[strong Магистр.Аптека]
                ul 
                    li Настройки системы, товарный справочник с указанием МНН и фармгрупп, перечень ЖНВЛС, гос. реестр зарегистрированных цен, база данных ЛС, подлежащих к изъятию из оборота, список минимального обязательного ассортимента. 
                    li Работа с приходными документами от поставщиков, расценка товара в соответветствии с российским законодательством, возврат поставщику, отпуск товаров сторонни организациям, переоценка и списание товаров, внутиаптечная переброска, возврат покупателя, инвентаризация. 
                    li Товарные отчёты, книга завоза, 6 журнал (предметно-количественный учет сильнодействующих и наркотических лекарственных препаратов), 4 журнал (сроки годности), отчёт по срокам годности, отчёты по движению товаров, анализ остатков, анализ превышения предельных отпускных цен.

            li #[strong Магистр.Первый стол] - Регистрация продаж, наличный и безналичный расчёт, возвраты покупателей, контроль сроков годности, подбор синонимов и аналогов, фиксированные скидки, накопительные скидки по дисконтным картам, скидки по социальным картам, запрет скидок на определённые группы товаров.

            li #[strong Магистр.Заявка] - Анализ движения товаров, текущая, скрытая, стойкая и дополнительная дефектуры, ABC и XYZ анализы, скорости продаж, товары в пути, страховой запас, коробочный набор, сверхнормативные запасы, неликвиды, рейтинги продаж и доходности, диаграмы продаж и динамики остатков выбранных товаров, потребность аптеки в товарах.

            li #[strong Магистр.Заказ] - Анализ прайс-листов поставщиков, приоритетность поставщиков, минимальная отгрузка, анализ сроков годности и остатков на складах поставщиков, контроль скачков цен, возможность одновременной работы по двум прайсам одного поставщика, оптимизация заказов.

            li #[strong Магистр.Расчёты с поставщиками] - Текущая задолженность поставщикам, контроль сроков оплаты, учёт предоплат и возвратов товара поставщикам.

            li #[strong Магистр.Информационный стол] - Контроль работы за первым столом в режиме реального времени: текущие остатки товаров, выручки по кассам, количество пробитых чеков, средняя стоимость покупки. 

            li #[strong Магистр.Статистика] - В графическом или табличном виде отображаются следующие данные за указанный период:
                ul
                    li выручка и доходность,
                    li средняя наценка и маржа,
                    li количество продаж и стоимость среднего чека,
                    li количество покупателей и нагрузка на одну кассу, 
                    li время обслуживания одного покупателя.
                p Быстро оценить динамику развития аптеки позволяет группировка информации по месяцам, неделям и дням. 
                p Определяется загруженность аптеки по дням недели, интенсивность покупательского потока в течение дня, проводится анализ стабильности продаж. 
                p Подробно анализируется работа каждого рецептара.

            li #[strong Магистр.1С] - Экспорт данных в бухгалтерскую программу 1С (суммовой учёт).
