extends ext/layout.pug

block content
    #magistr
        h1 МАГИСТР

        p МАГИСТР – современный программный комплекс, построенный по модульному принципу. Удобный интерфейс и оптимизированные экранные формы делают работу с комплексом простой и понятной. Система обладает рядом функций, не имеющих аналогов ни у наших предыдущих программ, ни у программ других фирм, автоматизирующих аптеки. Благодаря этому снижается трудоемкость производственных процессов и в 3-4 раза повышается производительность труда. Система способствует оптимизации процессов внутри аптечного предприятия и гарантирует рост прибыли. 

        p За счет чего этого можно добиться? В чем преимущества нашей новой программы? Ответим на вопросы, рассмотрев работу одного из ее модулей - «Магистр. Заказ»:

        ul
            li Возможность видеть в одном окне  прайс-листы сразу всех поставщиков, включая СИА Интернэшнл и Протек.
            li Наличие единого справочника медикаментов, который позволяет привести к общему знаменателю все разнообразие написания названий медикаментов. Это значительно упрощает работу и существенно экономит Ваше время.
            li При формировании заказов модуль подсказывает, у кого выгоднее заказать товар, учитывая  минимальную цену товара,  приоритетность поставщиков и др.
        
        p ФАРМКОМ дает своим клиентам реальную возможность поработать на новой программе, чтобы на деле по достоинству оценить все выше перечисленные преимущества и самим убедиться в ее уникальности. Для этого мы готовы  бесплатно установить Вам на три месяца модуль «Магистр. Заказ», который может работать как самостоятельно, так и импортировать заявки из нашей предыдущей программы и программ других фирм. Попробуйте, и Вы существенно облегчите себе работу и сократите время на формирование заказов до 1 часа! Если вы согласны на наше предложение, мы готовы всесторонне ознакомить Вас с работой модуля «Магистр. Заказ», пригласив к себе в офис или приехав к Вам в аптеку. Также мы предлагаем Вам приобрести весь программный комплекс «Магистр», разработанный специалистами фирмы в соавторстве с аптеками и учитывающий все конкретные потребности и пожелания пользователей наших предыдущих  программ и подобных программ других фирм.
        
        p Полный программный комплекс «Магистр» включает в себя:
        ul.hat
            li #[strong Магистр. Справочник товаров] - многоуровневый, облегчающий работу с товаром разным категориям пользователей.
            li #[strong Магистр. Аптека]:
                ul
                    li прием электронных накладных от любых дистрибуторов;
                    li автоматическое формирование розничных цен:
                        ul 
                            li по максимальной наценке; 
                            li по ценам предыдущей партии;
                            li по минимальным ценам городской справочной службы «Медицина для Вас» (можно ориентироваться на город в целом, на округ, даже - станцию метро); 
                            li по оптимальной наценке; 
                            li по наценке, зависящей от закупочной цены, и др.
            li #[strong Магистр. Касса] регистрирует продажи и поддерживает все кассовые операции, в том числе скидки по дисконтным картам и оплату кредитными картами.
            li #[strong Магистр. Заявка], проанализировав дефектуры и скорость продаж, определяет потребность аптеки в товарах и формирует заявку. Встроенный метод АВС-анализа указывает группу наиболее доходных препаратов, приносящих до 80% выручки.
            li #[strong Магистр. Заказ]  позволяет автоматически сформировать заказ после анализа прайс-листов поставщиков и отправить его поставщикам. 

        p Сотрудники ФАРМКОМа быстро реагируют на все проблемы, возникающие у клиентов в процессе работы с программным продуктом. У нас организована «горячая линия», по которой Вас оперативно проконсультируют, если Вы окажетесь в затруднительной ситуации, работая с нашей новой программой. Если какие-то вопросы нельзя решить по телефону, сотрудники «ФАРМКОМа» приедут непосредственно в аптеку, где на месте окажут Вам помощь.
