<p class="decree-main">
        <span class="decree-date">01.03.2017</span> 
        <a href="https://rg.ru/2017/01/10/minzdrav-prikaz647-site-dok.html">
            ПРИКАЗ №647н от 31.08.2016
        </a>
        </p>
        <p class="decree-about">Об утверждении Правил надлежащей аптечной практики лекарственных препаратов для медицинского применения.<p>
<p class="decree-main">
        <span class="decree-date">01.03.2017</span> 
        <a href="Опубликовано М.: Стандартинформ, 2016">
            ГОСТ №12.0.004-2015 от 09.06.2016
        </a>
        </p>
        <p class="decree-about">Межгосударственный стандарт. Система стандартов безопасности труда. Организация обучения безопасности труда. Общие положения.<p>
<p class="decree-main">
        <span class="decree-date">28.09.2015</span> 
        <a href="http://www.gociss.ru/doc/GOST_R_ISO_9000-2015.pdf">
            ГОСТ Р ИСО №9000-2015 от 28.09.2015
        </a>
        </p>
        <p class="decree-about">Системы менеджмента качества. Основные положения и словарь.<p>
<p class="decree-main">
        <span class="decree-date">28.09.2015</span> 
        <a href="http://gosstandart-iso.ru/standart/gost-r-iso-9001-2015.pdf">
            ГОСТ Р ИСО №9001-2015 от 28.09.2015
        </a>
        </p>
        <p class="decree-about">Системы менеджмента качества. Требования.<p>
<p class="decree-main">
        <span class="decree-date">01.03.2016</span> 
        <a href="https://rg.ru/2016/01/04/perechen-site-dok.html">
            Приложение к распоряжению Правительства РФ №4 от 26.12.2015
        </a>
        </p>
        <p class="decree-about">Минимальный ассортимент лекарственных препаратов, необходимых для оказания медицинской помощи.<p>
<p class="decree-main">
        <span class="decree-date">01.01.2017</span> 
        <a href="https://rg.ru/2016/12/30/pravitelstvo-rasp285-site-dok.html">
            Распоряжение Правительства РФ №2885-р от 28.12.2016
        </a>
        </p>
        <p class="decree-about">Перечень жизненнонеобходимых и важнейших лекарственных препаратов на 2017 год.<p>
<p class="decree-main">
        <span class="decree-date">26.01.1998</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=1998004000&docid=2077">
            Постановление Правительства РФ №55 от 19.01.1998
        </a>
        </p>
        <p class="decree-about">Об утверждении Правил продажи отдельных видов товаров, перечня товаров длительного пользования, на которые не распространяется требование покупателя о безвозмездном предоставлении ему на период ремонта или замены аналогичного товара, и перечня непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации.<p>
<p class="decree-main">
        <span class="decree-date">01.03.2016</span> 
        <a href="http://publication.pravo.gov.ru/Document/View/0001201602050020">
            Постановление Правительства РФ №58 от 03.02.2016
        </a>
        </p>
        <p class="decree-about">О внесении изменений в постановление Правительства Российской Федерации от 29 октября 2010 г. N 865 и признании утратившими силу отдельных положений актов Правительства Российской Федерации.<p>
<p class="decree-main">
        <span class="decree-date">13.02.1995</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=1995007000&docid=50">
            Постановление Правительства РФ №119 от 07.02.1995
        </a>
        </p>
        <p class="decree-about">О порядке допуска к медицинской и фармацевтической деятельности в Российской Федерации лиц, получивших медицинскую и фармацевтическую подготовку в иностранных государствах.<p>
<p class="decree-main">
        <span class="decree-date">02.03.2009</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=2009009000&docid=75">
            Постановление Правительства РФ №147 от 24.02.2009
        </a>
        </p>
        <p class="decree-about">Об организации переработки наркотических средств, психотропных веществ и их прекурсоров.<p>
<p class="decree-main">
        <span class="decree-date">13.03.1995</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=1995011000&docid=59">
            Постановление Правительства РФ №239 от 07.03.1995
        </a>
        </p>
        <p class="decree-about">О мерах по упорядочению государственного регулирования цен (тарифов).<p>
<p class="decree-main">
        <span class="decree-date">13.05.2008</span> 
        <a href="https://rg.ru/2008/05/13/raschety-kassa-dok.html">
            Постановление Правительства РФ №359 от 06.05.2008
        </a>
        </p>
        <p class="decree-about">О порядке осуществления наличных денежных расчетов и (или) расчетов с использованием платежных карт без применения контрольно-кассовой техники.<p>
<p class="decree-main">
        <span class="decree-date">22.07.2010</span> 
        <a href="https://rg.ru/2010/06/23/svedenia-prek-dok.html">
            Постановление Правительства РФ №419 от 09.06.2010
        </a>
        </p>
        <p class="decree-about">О представлении сведений о деятельности, связанной с оборотом прекурсоров наркотических средств и психотропных веществ, и регистрации операций, связанных с их оборотом.<p>
<p class="decree-main">
        <span class="decree-date">21.07.2008</span> 
        <a href="https://rg.ru/2008/06/20/veshestva-perevozka-dok.html">
            Постановление Правительства РФ №449 от 12.06.2008
        </a>
        </p>
        <p class="decree-about">О порядке перевозки наркотических средств и психотропных веществ на территории Российской Федерации, а также оформления необходимых для этого документов.<p>
<p class="decree-main">
        <span class="decree-date">22.10.2010</span> 
        <a href="https://rg.ru/2010/08/03/narko-dok.html">
            Постановление Правительства РФ №558 от 26.06.2010
        </a>
        </p>
        <p class="decree-about">О порядке распределения, отпуска и реализации наркотических средств и психотропных веществ.<p>
<p class="decree-main">
        <span class="decree-date">04.08.2011</span> 
        <a href="https://rg.ru/2011/07/27/preparati-dok.html">
            Постановление Правительства РФ №599 от 20.07.2011
        </a>
        </p>
        <p class="decree-about">О мерах контроля в отношении препаратов, которые содержат малые количества наркотических средств, психотропных веществ и их прекурсоров, включенных в перечень наркотических средств, психотропных веществ и их прекурсоров, подлежащих контролю в Российской Федерации.<p>
<p class="decree-main">
        <span class="decree-date">31.08.2010</span> 
        <a href="https://rg.ru/2010/08/27/veshestva-dok.html">
            Постановление Правительства РФ №640 от 18.08.2010
        </a>
        </p>
        <p class="decree-about">Об утверждении Правил производства, переработки, хранения, реализации, приобретения, использования, перевозки и уничтожения прекурсоров наркотических средств и психотропных веществ.<p>
<p class="decree-main">
        <span class="decree-date">13.11.2006</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=2006046000&docid=37">
            Постановление Правительства РФ №644 от 04.11.2006
        </a>
        </p>
        <p class="decree-about">О порядке представления сведений о деятельности, связанной с оборотом наркотических средств и психотропных веществ, и регистрации операций, связанных с оборотом наркотических средств и психотропных веществ.<p>
<p class="decree-main">
        <span class="decree-date">14.08.2009</span> 
        <a href="https://rg.ru/2009/08/14/lekarstva-dok.html">
            Постановление Правительства РФ №654 от 08.08.2009
        </a>
        </p>
        <p class="decree-about">О совершенствовании государственного регулирования цен на жизненно необходимые и важнейшие лекарственные средства.<p>
<p class="decree-main">
        <span class="decree-date">18.09.2010</span> 
        <a href="https://rg.ru/2010/09/10/unichtozhenie-dok.html">
            Постановление Правительства РФ №674 от 03.09.2010
        </a>
        </p>
        <p class="decree-about">Об утверждении Правил уничтожения недоброкачественных лекарственных средств, фальсифицированных лекарственных средств и контрафактных лекарственных средств.<p>
<p class="decree-main">
        <span class="decree-date">06.07.1998</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=1998027000&docid=295">
            Постановление Правительства РФ №681 от 30.06.1998
        </a>
        </p>
        <p class="decree-about">Об утверждении перечня наркотических средств, психотропных веществ и их прекурсоров, подлежащих контролю в Российской Федерации.<p>
<p class="decree-main">
        <span class="decree-date">21.09.2010</span> 
        <a href="https://rg.ru/2011/01/19/lekarstva-site-dok.html">
            Постановление Правительства РФ №694 от 08.09.2010
        </a>
        </p>
        <p class="decree-about">О внесении изменения в перечень услуг транспортных, снабженческо-сбытовых и торговых организаций, по которым органам исполнительной власти субъектов Российской Федерации предоставляется право вводить государственное регулирование тарифов и надбавок.<p>
<p class="decree-main">
        <span class="decree-date">23.06.1997</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=1997025000&docid=5415">
            Постановление Правительства РФ №720 от 16.06.1997
        </a>
        </p>
        <p class="decree-about">Об утверждении перечня товаров длительного пользования, в том числе комплектующих изделий (деталей, узлов, агрегатов), которые по истечении определенного периода могут представлять опасность для жизни, здоровья потребителя, причинять вред его имуществу или окружающей среде и на которые изготовитель обязан устанавливать срок службы, и перечня товаров, которые по истечении срока годности считаются непригодными для использования по назначению.<p>
<p class="decree-main">
        <span class="decree-date">11.11.2010</span> 
        <a href="https://rg.ru/2010/11/03/pravila2-dok.html">
            Постановление Правительства РФ №865 от 29.10.2010
        </a>
        </p>
        <p class="decree-about">О государственном регулировании цен на лекарственные препараты, включенные в перечень жизненно необходимых и важнейших лекарственных препаратов.<p>
<p class="decree-main">
        <span class="decree-date">17.08.1998</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=1998033000&docid=1043">
            Постановление Правительства РФ №892 от 06.08.1998
        </a>
        </p>
        <p class="decree-about">Об утверждении Правил допуска лиц к работе с наркотическими средствами и психотропными веществами, а также к деятельности, связанной с оборотом прекурсоров наркотических средств и психотропных веществ.<p>
<p class="decree-main">
        <span class="decree-date">18.12.2010</span> 
        <a href="https://rg.ru/2010/12/10/rasteniya-dok.html">
            Постановление Правительства РФ №934 от 27.10.2010
        </a>
        </p>
        <p class="decree-about">Об утверждении перечня растений, содержащих наркотические средства или психотропные вещества либо их прекурсоры и подлежащих контролю в Российской Федерации, крупного и особо крупного размеров культивирования растений, содержащих наркотические средства или психотропные вещества либо их прекурсоры, для целей статьи 231 Уголовного кодекса Российской Федерации, а также об изменении и признании утратившими силу некоторых актов Правительства Российской Федерации по вопросу оборота растений, содержащих наркотические средства или психотропные вещества либо их прекурсоры.<p>
<p class="decree-main">
        <span class="decree-date">24.01.2008</span> 
        <a href="https://rg.ru/2008/01/16/veshestva-dok.html">
            Постановление Правительства РФ №964 от 29.12.2007
        </a>
        </p>
        <p class="decree-about">Об утверждении списков сильнодействующих и ядовитых веществ для целей статьи 234 и других статей Уголовного кодекса Российской Федерации, а также крупного размера сильнодействующих веществ для целей статьи 234 Уголовного кодекса Российской Федерации.<p>
<p class="decree-main">
        <span class="decree-date">06.09.1999</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=1999036000&docid=3074">
            Постановление Правительства РФ №967 от 27.08.1999
        </a>
        </p>
        <p class="decree-about">О производстве и обороте спиртосодержащих лекарственных средств и парфюмерно-косметической продукции (средств).<p>
<p class="decree-main">
        <span class="decree-date">28.09.2012</span> 
        <a href="https://rg.ru/2012/09/28/kontrol-dok.html">
            Постановление Правительства РФ №970 от 25.09.2012
        </a>
        </p>
        <p class="decree-about">Об утверждении Положения о государственном контроле за обращением медицинских изделий.<p>
<p class="decree-main">
        <span class="decree-date">01.12.2009</span> 
        <a href="https://rg.ru/2010/02/19/sertifikacia-dok.html">
            Постановление Правительства РФ №982 от 01.12.2009
        </a>
        </p>
        <p class="decree-about">Об утверждении единого перечня продукции, подлежащей обязательной сертификации, и единого перечня продукции, подтверждение соответствия которой осуществляется в форме принятия декларации о соответствии.<p>
<p class="decree-main">
        <span class="decree-date">28.12.2010</span> 
        <a href="https://rg.ru/2010/12/28/narkooxrana-site-dok.html">
            Постановление Правительства РФ №1035 от 17.12.2010
        </a>
        </p>
        <p class="decree-about">О порядке установления требований к оснащению инженерно-техническими средствами охраны объектов и помещений, в которых осуществляются деятельность, связанная с оборотом наркотических средств и психотропных веществ, и (или) культивирование наркосодержащих растений.<p>
<p class="decree-main">
        <span class="decree-date">25.08.1997</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=1997034000&docid=6401">
            Постановление Правительства РФ №1037 от 15.08.1997
        </a>
        </p>
        <p class="decree-about">О мерах по обеспечению наличия на ввозимых на территорию Российской Федерации непродовольственных товарах информации на русском языке.<p>
<p class="decree-main">
        <span class="decree-date">30.10.2012</span> 
        <a href="https://rg.ru/2012/10/23/lekarstva-site-dok.html">
            Постановление Правительства РФ №1043 от 15.10.2012
        </a>
        </p>
        <p class="decree-about">Об утверждении Положения о федеральном государственном надзоре в сфере обращения лекарственных средств.<p>
<p class="decree-main">
        <span class="decree-date">31.12.2011</span> 
        <a href="https://rg.ru/2011/12/31/litsenzirovanie-dok.html">
            Постановление Правительства РФ №1081 от 22.12.2011
        </a>
        </p>
        <p class="decree-about">О лицензировании фармацевтической деятельности.<p>
<p class="decree-main">
        <span class="decree-date">19.01.2012</span> 
        <a href="https://rg.ru/2012/01/11/polozhenie-dok.html">
            Постановление Правительства РФ №1085 от 22.12.2011
        </a>
        </p>
        <p class="decree-about">О лицензировании деятельности по обороту наркотических средств, психотропных веществ и их прекурсоров, культивированию наркосодержащих растений.<p>
<p class="decree-main">
        <span class="decree-date">27.04.2010</span> 
        <a href="https://rg.ru/2010/01/26/pravila-dok.html">
            Постановление Правительства РФ №1148 от 31.12.2009
        </a>
        </p>
        <p class="decree-about">О порядке хранения наркотических средств и психотропных веществ и их прекурсоров.<p>
<p class="decree-main">
        <span class="decree-date">07.01.2013</span> 
        <a href="https://rg.ru/2013/01/07/medizdeliya-site-dok.html">
            Постановление Правительства РФ №1416 от 27.12.2012
        </a>
        </p>
        <p class="decree-about">Об утверждении Правил государственной регистрации медицинских изделий.<p>
<p class="decree-main">
        <span class="decree-date">06.01.2017</span> 
        <a href="http://publication.pravo.gov.ru/Document/View/0001201701060022">
            Постановление Правительства РФ №1547 от 29.12.2016
        </a>
        </p>
        <p class="decree-about">О внесении изменений в некоторые акты Правительства Российской Федерации.<p>
<p class="decree-main">
        <span class="decree-date">07.04.2013</span> 
        <a href="https://rg.ru/2013/03/27/trebovania-dok.html">
            ПРИКАЗ №855/370 от 11.09.2012
        </a>
        </p>
        <p class="decree-about">Об утверждении Требований к оснащению инженерно-техническими средствами охраны объектов и помещений, в которых осуществляются деятельность, связанная с оборотом наркотических средств, психотропных веществ и внесенных в список I перечня наркотических средств, психотропных веществ и их прекурсоров, подлежащих контролю в Российской Федерации, прекурсоров, и (или) культивирование наркосодержащих растений для использования в научных, учебных целях и в экспертной деятельности.<p>
<p class="decree-main">
        <span class="decree-date">04.03.2015</span> 
        <a href="http://publication.pravo.gov.ru/Document/View/0001201503040010">
            ПРИКАЗ №19н от 26.01.2015
        </a>
        </p>
        <p class="decree-about">Об утверждении Административного регламента Федеральной службы по надзору в сфере здравоохранения по исполнению государственной функции по осуществлению государственного контроля качества и безопасности медицинской деятельности путем проведения проверок соблюдения органами государственной власти и органами местного самоуправления, государственными внебюджетными фондами, а также осуществляющими медицинскую и фармацевтическую деятельность организациями и индивидуальными предпринимателями прав граждан в сфере охраны здоровья.<p>
<p class="decree-main">
        <span class="decree-date">16.05.2014</span> 
        <a href="https://rg.ru/2014/05/16/kalendar-dok.html">
            ПРИКАЗ №125н от 21.03.2014
        </a>
        </p>
        <p class="decree-about">Об утверждении национального календаря профилактических прививок и календаря профилактических прививок по эпидемическим показаниям.<p>
<p class="decree-main">
        <span class="decree-date">02.09.2012</span> 
        <a href="https://rg.ru/2012/08/22/blanki-dok.html">
            ПРИКАЗ №54н от 01.08.2012
        </a>
        </p>
        <p class="decree-about">Об утверждении формы бланков рецептов, содержащих назначение наркотических средств или психотропных веществ, порядка их изготовления, распределения, регистрации, учета и хранения, а также правил оформления.<p>
<p class="decree-main">
        <span class="decree-date">19.09.2012</span> 
        <a href="https://rg.ru/2012/09/19/medobr-dok.html">
            ПРИКАЗ №66н от 03.08.2012
        </a>
        </p>
        <p class="decree-about">Об утверждении Порядка и сроков совершенствования медицинскими работниками и фармацевтическими работниками профессиональных знаний и навыков путем обучения по дополнительным профессиональным образовательным программам в образовательных и научных организациях.<p>
<p class="decree-main">
        <span class="decree-date">11.03.2016</span> 
        <a href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102393764">
            ПРИКАЗ №83н от 10.02.2016
        </a>
        </p>
        <p class="decree-about">Об утверждении Квалификационных требований к медицинским и фармацевтическим работникам со средним медицинским и фармацевтическим образованием.<p>
<p class="decree-main">
        <span class="decree-date">01.07.2013</span> 
        <a href="https://rg.ru/2013/07/03/minzdrav-dok.html">
            ПРИКАЗ №94н от 26.02.2013
        </a>
        </p>
        <p class="decree-about">"О внесении изменений в приказ Министерства здравоохранения и социального развития Российской Федерации от 12 февраля 2007 г. N 110 ""О порядке назначения и выписывания лекарственных препаратов, изделий медицинского назначения и специализированных продуктов лечебного питания".<p>
<p class="decree-main">
        <span class="decree-date">25.05.2007</span> 
        <a href="https://rg.ru/2007/05/15/med-dok.html">
            ПРИКАЗ №110 от 12.02.2007
        </a>
        </p>
        <p class="decree-about">О порядке назначения и выписывания лекарственных средств, изделий медицинского назначения и специализированных продуктов лечебного питания.<p>
<p class="decree-main">
        <span class="decree-date">28.03.2003</span> 
        <a href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102096867">
            ПРИКАЗ №127 от 28.03.2003
        </a>
        </p>
        <p class="decree-about">Об утверждении Инструкции по уничтожению наркотических средств и психотропных веществ, входящих в списки II и III Перечня наркотических средств, психотропных веществ и их прекурсоров, подлежащих контролю в Российской Федерации, дальнейшее использование которых в медицинской практике признано нецелесообразным.<p>
<p class="decree-main">
        <span class="decree-date">01.01.2012</span> 
        <a href="https://rg.ru/2011/04/20/aptechka-dok.html">
            ПРИКАЗ №169н от 05.03.2011
        </a>
        </p>
        <p class="decree-about">Об утверждении требований к комплектации изделиями медицинского назначения аптечек для оказания первой помощи работникам.<p>
<p class="decree-main">
        <span class="decree-date">24.05.2008</span> 
        <a href="https://rg.ru/2008/05/14/nomenklatura-doc.html">
            ПРИКАЗ №176н от 16.04.2008
        </a>
        </p>
        <p class="decree-about">О номенклатуре специальностей специалистов со средним медицинским и фармацевтическим образованием в сфере здравоохранения Российской Федерации.<p>
<p class="decree-main">
        <span class="decree-date">08.04.2012</span> 
        <a href="https://rg.ru/2012/03/28/oxrana-truda-dok.html">
            ПРИКАЗ №181н от 01.03.2012
        </a>
        </p>
        <p class="decree-about">Об утверждении Типового перечня ежегодно реализуемых работодателем мероприятий по улучшению условий и охраны труда и снижению уровней профессиональных рисков.<p>
<p class="decree-main">
        <span class="decree-date">05.08.2014</span> 
        <a href="https://rg.ru/2014/08/05/lekarstva-dok.html">
            ПРИКАЗ №183н от 22.04.2014
        </a>
        </p>
        <p class="decree-about">Об утверждении перечня лекарственных средств для медицинского применения, подлежащих предметно-количественному учету.<p>
<p class="decree-main">
        <span class="decree-date">21.06.2009</span> 
        <a href="https://rg.ru/2009/06/10/specialisty-nomenklatura-dok.html">
            ПРИКАЗ №210н от 23.04.2009
        </a>
        </p>
        <p class="decree-about">О номенклатуре специальностей специалистов с высшим и послевузовским медицинским и фармацевтическим образованием в сфере здравоохранения Российской Федерации.<p>
<p class="decree-main">
        <span class="decree-date">16.07.1997</span> 
        <a href="Не публиковался">
            ПРИКАЗ №214 от 16.07.1997
        </a>
        </p>
        <p class="decree-about">О контроле качества лекарственных средств, изготовляемых в аптечных организациях (аптеках).<p>
<p class="decree-main">
        <span class="decree-date">08.11.2011</span> 
        <a href="https://rg.ru/2011/10/28/medosmotr-dok.html">
            ПРИКАЗ №302н от 12.04.2011
        </a>
        </p>
        <p class="decree-about">Об утверждении перечней вредных и (или) опасных производственных факторов и работ, при выполнении которых проводятся обязательные предварительные и периодические медицинские осмотры (обследования), и Порядка проведения обязательных предварительных и периодических медицинских осмотров (обследований) работников, занятых на тяжелых работах и на работах с вредными и (или) опасными условиями труда.<p>
<p class="decree-main">
        <span class="decree-date">01.01.1998</span> 
        <a href=""Опубликовано ""N 3, 1998 года Здравоохранение. Журнал для руководителя и главного бухгалтера"""">
            ПРИКАЗ №308 от 21.10.1997
        </a>
        </p>
        <p class="decree-about">Об утверждении инструкции по изготовлению в аптеках жидких лекарственных форм.<p>
<p class="decree-main">
        <span class="decree-date">01.01.1998</span> 
        <a href=""Опубликовано ""Новая аптека, N 3, март, 2009 год"""">
            ПРИКАЗ №309 от 21.10.1997
        </a>
        </p>
        <p class="decree-about">Об утверждении Инструкции по санитарному режиму аптечных организаций (аптек).<p>
<p class="decree-main">
        <span class="decree-date">01.01.1998</span> 
        <a href=""Опубликовано ""N 3, 1998 год Здравоохранение"""">
            ПРИКАЗ №318 от 05.11.1997
        </a>
        </p>
        <p class="decree-about">Об утверждении Инструкции о порядке хранения и обращения в фармацевтических (аптечных) организациях с лекарственными средствами и изделиями, обладающими огнеопасными и взрывоопасными свойствами.<p>
<p class="decree-main">
        <span class="decree-date">01.01.1998</span> 
        <a href=""Опубликовано ""N 3, 1998 года Здравоохранение. Журнал для руководителя и главного бухгалтера"""">
            ПРИКАЗ №330 от 12.11.1997
        </a>
        </p>
        <p class="decree-about">О мерах по улучшению учета, хранения, выписывания и использования наркотических средств и психотропных веществ.<p>
<p class="decree-main">
        <span class="decree-date">16.06.2016</span> 
        <a href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102403643&rdk=">
            ПРИКАЗ №334н от 02.06.2016
        </a>
        </p>
        <p class="decree-about">Об утверждении Положения об аккредитации специалистов.<p>
<p class="decree-main">
        <span class="decree-date">04.08.2013</span> 
        <a href="https://rg.ru/2013/07/24/perechen-dok.html">
            ПРИКАЗ №369н от 10.06.2013
        </a>
        </p>
        <p class="decree-about">О внесении изменений в некоторые приказы Министерства здравоохранения и социального развития Российской Федерации.<p>
<p class="decree-main">
        <span class="decree-date">02.12.1996</span> 
        <a href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102093452">
            ПРИКАЗ №377 от 13.11.1996
        </a>
        </p>
        <p class="decree-about">Об утверждении Инструкции по организации хранения в аптечных учреждениях различных групп лекарственных средств и изделий медицинского назначения.<p>
<p class="decree-main">
        <span class="decree-date">08.09.2013</span> 
        <a href="https://rg.ru/2013/08/28/minzdrav-dok.html">
            ПРИКАЗ №378н от 17.06.2013
        </a>
        </p>
        <p class="decree-about">Об утверждении правил регистрации операций, связанных с обращением лекарственных средств для медицинского применения, включенных в перечень лекарственных средств для медицинского применения, подлежащих предметно-количественному учету, в специальных журналах учета операций, связанных с обращением лекарственных средств для медицинского применения, и правил ведения и хранения специальных журналов учета операций, связанных с обращением лекарственных средств для медицинского применения.<p>
<p class="decree-main">
        <span class="decree-date">01.06.2010</span> 
        <a href="https://www.rosminzdrav.ru/documents/7518-prikaz-minzdravsotsrazvitiya-rossii-380-ot-24-maya-2010-g">
            ПРИКАЗ №380 от 24.05.2010
        </a>
        </p>
        <p class="decree-about">О признании утратившим силу приказа Министерства здравоохранения Российской Федерации от 31 декабря 1999 г. № 472 «О Перечне лекарственных средств списков А и Б».<p>
<p class="decree-main">
        <span class="decree-date">10.08.2015</span> 
        <a href="http://publication.pravo.gov.ru/Document/View/0001201508100053">
            ПРИКАЗ №386н от 30.06.2015
        </a>
        </p>
        <p class="decree-about">"О внесении изменений в приказ Министерства здравоохранения Российской Федерации от 20 декабря 2012 г. № 1175н ""Об утверждении порядка назначения и выписывания лекарственных препаратов, а также форм рецептурных бланков на лекарственные препараты, порядка оформления указанных бланков, их учета и хранения""".<p>
<p class="decree-main">
        <span class="decree-date">28.07.2016</span> 
        <a href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102407290&rdk=">
            ПРИКАЗ №419н от 27.06.2016
        </a>
        </p>
        <p class="decree-about">Об утверждении Порядка допуска лиц, не завершивших освоение образовательных программ высшего медицинского или высшего фармацевтического образования, а также лиц с высшим медицинским или высшим фармацевтическим образованием к осуществлению медицинской деятельности или фармацевтической деятельности на должностях среднего медицинского или среднего фармацевтического персонала.<p>
<p class="decree-main">
        <span class="decree-date">08.10.2010</span> 
        <a href="https://rg.ru/2010/09/27/spravochnik-dok.html">
            ПРИКАЗ №541н от 23.07.2010
        </a>
        </p>
        <p class="decree-about">"Об утверждении Единого квалификационного справочника должностей руководителей, специалистов и служащих, раздел ""Квалификационные характеристики должностей работников в сфере здравоохранения""".<p>
<p class="decree-main">
        <span class="decree-date">26.09.2010</span> 
        <a href="https://rg.ru/2010/09/15/farmasy-dok.html">
            ПРИКАЗ №553н от 27.07.2010
        </a>
        </p>
        <p class="decree-about">Об утверждении видов аптечных организаций.<p>
<p class="decree-main">
        <span class="decree-date">06.06.2012</span> 
        <a href="https://rg.ru/2012/06/06/preparati-dok.html">
            ПРИКАЗ №562н от 17.05.2012
        </a>
        </p>
        <p class="decree-about">Об утверждении Порядка отпуска физическим лицам лекарственных препаратов для медицинского применения, содержащих кроме малых количеств наркотических средств, психотропных веществ и их прекурсоров другие фармакологические активные вещества.<p>
<p class="decree-main">
        <span class="decree-date">22.11.2013</span> 
        <a href="https://rg.ru/2013/11/11/medobr-dok.html">
            ПРИКАЗ №585н от 22.08.2013
        </a>
        </p>
        <p class="decree-about">Об утверждении Порядка участия обучающихся по основным профессиональным образовательным программам и дополнительным профессиональным программам в оказании медицинской помощи гражданам и в фармацевтической деятельности.<p>
<p class="decree-main">
        <span class="decree-date">13.11.2013</span> 
        <a href="https://rg.ru/2013/11/13/ucheba-dok.html">
            ПРИКАЗ №620н от 03.09.2013
        </a>
        </p>
        <p class="decree-about">Об утверждении Порядка организации и проведения практической подготовки обучающихся по профессиональным образовательным программам медицинского образования, фармацевтического образования.<p>
<p class="decree-main">
        <span class="decree-date">01.03.2017</span> 
        <a href="https://rg.ru/2017/01/10/minzdrav-prikaz646-site-dok.html">
            ПРИКАЗ №646н от 31.08.2016
        </a>
        </p>
        <p class="decree-about">Об утверждении Правил надлежащей практики хранения и перевозки лекарственных препаратов для медицинского применения.<p>
<p class="decree-main">
        <span class="decree-date">28.11.2015</span> 
        <a href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102385183&rdk=">
            ПРИКАЗ №700н от 07.10.2015
        </a>
        </p>
        <p class="decree-about">О номенклатуре специальностей специалистов, имеющих высшее медицинское и фармацевтическое образование.<p>
<p class="decree-main">
        <span class="decree-date">24.10.2010</span> 
        <a href="https://rg.ru/2010/10/13/hranenie-dok.html">
            ПРИКАЗ №706н от 23.08.2010
        </a>
        </p>
        <p class="decree-about">Об утверждении Правил хранения лекарственных средств.<p>
<p class="decree-main">
        <span class="decree-date">27.10.2015</span> 
        <a href="http://publication.pravo.gov.ru/Document/View/0001201510270051">
            ПРИКАЗ №707н от 08.10.2015
        </a>
        </p>
        <p class="decree-about">"Об утверждении Квалификационных требований к медицинским и фармацевтическим работникам с высшим образованием по направлению подготовки ""Здравоохранение и медицинские науки""".<p>
<p class="decree-main">
        <span class="decree-date">26.04.2016</span> 
        <a href="http://publication.pravo.gov.ru/Document/View/0001201604260019">
            ПРИКАЗ №751н от 25.10.2015
        </a>
        </p>
        <p class="decree-about">Об утверждении правил изготовления и отпуска лекарственных препаратов для медицинского применения аптечными организациями, индивидуальными предпринимателями, имеющими лицензию на фармацевтическую деятельность.<p>
<p class="decree-main">
        <span class="decree-date">31.01.2006</span> 
        <a href="https://rg.ru/2006/01/20/recept-dok.html">
            ПРИКАЗ №785 от 14.12.2005
        </a>
        </p>
        <p class="decree-about">О порядке отпуска лекарственных средств.<p>
<p class="decree-main">
        <span class="decree-date">07.12.2010</span> 
        <a href="https://rg.ru/2010/11/26/ceny-dok.html">
            ПРИКАЗ №961н/527-а от 03.11.2010
        </a>
        </p>
        <p class="decree-about">Об утверждении методики установления производителями лекарственных препаратов предельных отпускных цен на лекарственные препараты, включенные в перечень жизненно необходимых и важнейших лекарственных препаратов.<p>
<p class="decree-main">
        <span class="decree-date">22.01.2017</span> 
        <a href="https://rg.ru/2017/01/12/minzdrav-prikaz979-site-dok.html">
            ПРИКАЗ №979н от 21.12.2016
        </a>
        </p>
        <p class="decree-about">Об утверждении требований к объему тары, упаковке и комплектности лекарственных препаратов для медицинского применения.<p>
<p class="decree-main">
        <span class="decree-date">23.04.2013</span> 
        <a href="https://rg.ru/2013/04/12/sertifikat-dok.html">
            ПРИКАЗ №982н от 29.11.2012
        </a>
        </p>
        <p class="decree-about">Об утверждении условий и порядка выдачи сертификата специалиста медицинским и фармацевтическим работникам, формы и технических требований сертификата специалиста.<p>
<p class="decree-main">
        <span class="decree-date">16.10.2011</span> 
        <a href="https://rg.ru/2011/10/05/minzdrav-dok.html">
            ПРИКАЗ №1000ан от 26.08.2011
        </a>
        </p>
        <p class="decree-about">О признании утратившими силу некоторых приказов Министерства здравоохранения и социального развития Российской Федерации.<p>
<p class="decree-main">
        <span class="decree-date">01.07.2013</span> 
        <a href="https://rg.ru/2013/07/03/lekarstva-dok.html">
            ПРИКАЗ №1175н от 20.12.2012
        </a>
        </p>
        <p class="decree-about">Об утверждении порядка назначения и выписывания лекарственных препаратов, а также форм рецептурных бланков на лекарственные препараты, порядка оформления указанных бланков, их учета и хранения.<p>
<p class="decree-main">
        <span class="decree-date">07.04.2013</span> 
        <a href="https://rg.ru/2013/03/27/nomenklatura-dok.html">
            ПРИКАЗ №1183н от 20.12.2012
        </a>
        </p>
        <p class="decree-about">Об утверждении Номенклатуры должностей медицинских работников и фармацевтических работников.<p>
<p class="decree-main">
        <span class="decree-date"></span> 
        <a href="Не вступил в силу">
            ПРИКАЗ №1198н от 27.12.2011
        </a>
        </p>
        <p class="decree-about">Об утверждении правил в сфере обращения медицинских изделий.<p>
<p class="decree-main">
        <span class="decree-date">11.02.2011</span> 
        <a href="https://rg.ru/2011/02/11/lekarstva-opt-dok.html">
            ПРИКАЗ №1222н от 28.12.2010
        </a>
        </p>
        <p class="decree-about">Об утверждении Правил оптовой торговли лекарственными средствами для медицинского применения.<p>
<p class="decree-main">
        <span class="decree-date">08.01.1988</span> 
        <a href="Опубликовано Сб.осн.норм.актов по фармацевтической деятельности.СПб.Санта,1996 Санкт-Петербург, 1996 год">
            ПРИКАЗ №14 от 08.01.1988
        </a>
        </p>
        <p class="decree-about">Об утверждении специализированных (внутриведомственных) форм первичного бухгалтерского учета для хозрасчетных аптечных учреждений.<p>
<p class="decree-main">
        <span class="decree-date">19.09.2011</span> 
        <a href="http://pravo.gov.ru/proxy/ips/?docbody=&link_id=0&nd=102141647">
            ПРИКАЗ №558 от 25.08.2010
        </a>
        </p>
        <p class="decree-about">Об утверждении Перечня типовых управленческих архивных документов, образующихся в процессе деятельности государственных органов, органов местного самоуправления и организаций, с указанием сроков хранения.<p>
<p class="decree-main">
        <span class="decree-date">11.11.2011</span> 
        <a href="https://rg.ru/2011/10/15/otxody-site-dok.html">
            ПРИКАЗ №721 от 01.09.2011
        </a>
        </p>
        <p class="decree-about">Об утверждении Порядка учета в области обращения с отходами.<p>
<p class="decree-main">
        <span class="decree-date">30.07.2007</span> 
        <a href="http://www.ohranatruda.ru/ot_biblio/normativ/data_normativ/50/50775/">
            ПРИКАЗ №224 от 19.07.2007
        </a>
        </p>
        <p class="decree-about">О санитарно-эпидемиологических экспертизах, обследованиях, исследованиях, испытаниях и токсикологических, гигиенических и иных видах оценок.<p>
<p class="decree-main">
        <span class="decree-date">01.01.2010</span> 
        <a href="https://rg.ru/2009/12/21/metodika-dok.html">
            ПРИКАЗ №442а от 11.12.2009
        </a>
        </p>
        <p class="decree-about">Об утверждении Методики определения органами исполнительной власти субъектов Российской Федерации предельных оптовых и предельных розничных надбавок к фактическим отпускным ценам производителей на жизненно необходимые и важнейшие лекарственные средства.<p>
<p class="decree-main">
        <span class="decree-date">12.04.2016</span> 
        <a href="http://publication.pravo.gov.ru/Document/View/0001201604120020">
            ПРИКАЗ №91н от 09.03.2016
        </a>
        </p>
        <p class="decree-about">"Об утверждении профессионального стандарта ""Провизор""".<p>
<p class="decree-main">
        <span class="decree-date">01.06.2010</span> 
        <a href="http://www.tsouz.ru/KTS/KTS17/Pages/R_299.aspx">
            РЕШЕНИЕ №299 от 28.05.2010
        </a>
        </p>
        <p class="decree-about">О применении санитарных мер в Таможенном союзе.<p>
<p class="decree-main">
        <span class="decree-date">01.03.2009</span> 
        <a href="http://rospotrebnadzor.ru/upload/iblock/951/mu-3.3.2.2437_09.pdf">
            МУ №3.3.2.2437-09 от 21.01.2009
        </a>
        </p>
        <p class="decree-about">"Медицинские иммунобиологические препараты. Применение термоиндикаторов для контроля температурного режима хранения и транспортирования медицинских иммунобиологических препаратов в системе ""холодовой цепи"". ".<p>
<p class="decree-main">
        <span class="decree-date">01.01.2002</span> 
        <a href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102095189&rdk=&backlink=1">
            ПОСТАНОВЛЕНИЕ №18 от 13.07.2001
        </a>
        </p>
        <p class="decree-about">О введение в действие санитарных правил - СП 1.1.1058-01.<p>
<p class="decree-main">
        <span class="decree-date">08.04.2011</span> 
        <a href="https://rg.ru/2010/12/12/sanpin-medothody-site-dok.html">
            ПОСТАНОВЛЕНИЕ №163 от 09.12.2010
        </a>
        </p>
        <p class="decree-about">"Об утверждении СанПиН 2.1.7.2790-10 ""Санитарно-эпидемиологические требования к обращению с медицинскими отходами".<p>
<p class="decree-main">
        <span class="decree-date">01.10.1996</span> 
        <a href="https://rg.ru/2010/07/15/sanpin548-dok.html">
            ПОСТАНОВЛЕНИЕ №21 от 01.10.1996
        </a>
        </p>
        <p class="decree-about">Гигиенические требования к микроклимату производственных помещений. Санитарные правила и нормы СанПиН 2.2.4.548-96.<p>
<p class="decree-main">
        <span class="decree-date">20.06.2003</span> 
        <a href=""Опубликовано ""Сборник нормативно-правовых актов в области санитарно-эпидемиологического благополучия населения. Часть II.- М.: Федеральный центр госсанэпиднадзора Минздрава России, 2003 год"""">
            ПОСТАНОВЛЕНИЕ №50 от 17.04.2003
        </a>
        </p>
        <p class="decree-about">О введении в действие санитарно-эпидемиологических правил и нормативов СанПиН 2.3.2.1290-03.<p>
<p class="decree-main">
        <span class="decree-date">01.01.2002</span> 
        <a href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102095207">
            ПОСТАНОВЛЕНИЕ №23 от 07.09.2001
        </a>
        </p>
        <p class="decree-about">"Санитарно-эпидемиологические правила СП 2.3.6.1066-01 ""Санитарно-эпидемиологические требования к организациям торговли и обороту в них продовольственного сырья и пищевых продуктов""".<p>
<p class="decree-main">
        <span class="decree-date">01.09.2002</span> 
        <a href=""Опубликовано ""Бюллетень нормативных актов федеральных органов исполнительной власти, N 22, 03.06.2002, N 23, 10.06.2002"""">
            ПОСТАНОВЛЕНИЕ №36 от 14.11.2001
        </a>
        </p>
        <p class="decree-about">"Санитарно-эпидемиологические правила и нормативы СанПиН 2.3.2.1078-01 ""Гигиенические требования безопасности и пищевой ценности пищевых продуктов""".<p>
<p class="decree-main">
        <span class="decree-date">04.05.2016</span> 
        <a href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102397172">
            ПОСТАНОВЛЕНИЕ №19 от 17.02.2016
        </a>
        </p>
        <p class="decree-about">"Об утверждении санитарно-эпидемиологических правил СП 3.3.2.3332-16 ""Условия транспортирования и хранения иммунобиологических лекарственных препаратов"" ".<p>
<p class="decree-main">
        <span class="decree-date">01.10.2002</span> 
        <a href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102096155">
            ПОСТАНОВЛЕНИЕ №24 от 18.07.2002
        </a>
        </p>
        <p class="decree-about">О введении в действие санитарно-эпидемиологических правил СП 3.5.3.1129-02.<p>
<p class="decree-main">
        <span class="decree-date">01.07.2012</span> 
        <a href="http://www.eurasiancommission.org/ru/Lists/EECDocs/P_769_1.pdf">
            ТР ТС №005/2011 от 16.08.2011
        </a>
        </p>
        <p class="decree-about">О безопасности упаковки.<p>
<p class="decree-main">
        <span class="decree-date">01.07.2012</span> 
        <a href="http://www.eurasiancommission.org/ru/Lists/EECDocs/P_797_1.pdf">
            ТР ТС №007/2011 от 23.09.2011
        </a>
        </p>
        <p class="decree-about">О безопасности продукции, предназначенной для детей и подростков.<p>
<p class="decree-main">
        <span class="decree-date">01.07.2012</span> 
        <a href="http://www.eurasiancommission.org/ru/Lists/EECDocs/P_799_3.pdf">
            ТР ТС №009/2011 от 23.09.2011
        </a>
        </p>
        <p class="decree-about">О безопасности парфюмерно-косметической продукции.<p>
<p class="decree-main">
        <span class="decree-date">01.07.2013</span> 
        <a href="http://www.eurasiancommission.org/ru/act/texnreg/deptexreg/tr/Documents/TR%20TS%20PishevayaProd.pdf">
            ТР ТС №021/2011 от 09.12.2011
        </a>
        </p>
        <p class="decree-about">О безопасности пищевой продукции.<p>
<p class="decree-main">
        <span class="decree-date">01.07.2013</span> 
        <a href="http://www.eurasiancommission.org/ru/act/texnreg/deptexreg/tr/Documents/TrTsPishevkaMarkirovka.pdf">
            ТР ТС №022/2011 от 09.12.2011
        </a>
        </p>
        <p class="decree-about">Пищевая продукция в части ее маркировки.<p>
<p class="decree-main">
        <span class="decree-date">01.01.2016</span> 
        <a href="http://www.femb.ru/feml">
            ФАРМАКОПЕЯ №13 от 01.11.2015
        </a>
        </p>
        <p class="decree-about">Государственная Фармакопея РФ.<p>
<p class="decree-main">
        <span class="decree-date">12.01.1998</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=1998002000&docid=1129">
            ФЗ №3 от 08.01.1998
        </a>
        </p>
        <p class="decree-about">О наркотических средствах и психотропных веществах.<p>
<p class="decree-main">
        <span class="decree-date">10.01.2000</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=2000002000&docid=6091">
            ФЗ №29 от 02.01.2000
        </a>
        </p>
        <p class="decree-about">О качестве и безопасности пищевых продуктов.<p>
<p class="decree-main">
        <span class="decree-date">01.01.2014</span> 
        <a href="https://rg.ru/2013/04/12/goszakupki-dok.html">
            ФЗ №44 от 05.04.2013
        </a>
        </p>
        <p class="decree-about">О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд.<p>
<p class="decree-main">
        <span class="decree-date">05.12.1994</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=1994032000&docid=4570">
            ФЗ №51 от 30.11.1994
        </a>
        </p>
        <p class="decree-about">Гражданский кодекс РФ. Часть первая.<p>
<p class="decree-main">
        <span class="decree-date">29.01.1996</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=1996005000&docid=3160">
            ФЗ №14 от 26.01.1996
        </a>
        </p>
        <p class="decree-about">Гражданский кодекс РФ. Часть вторая.<p>
<p class="decree-main">
        <span class="decree-date">03.12.2001</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=2001049000&docid=19">
            ФЗ №146 от 26.11.2001
        </a>
        </p>
        <p class="decree-about">Гражданский кодекс РФ. Часть третья.<p>
<p class="decree-main">
        <span class="decree-date">25.12.2006</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=2006052000&docid=54">
            ФЗ №230 от 18.12.2006
        </a>
        </p>
        <p class="decree-about">Гражданский кодекс РФ. Часть четвертая.<p>
<p class="decree-main">
        <span class="decree-date">06.04.1999</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=1999014000&docid=2300">
            ФЗ №52 от 30.03.1999
        </a>
        </p>
        <p class="decree-about">О санитарно-эпидемиологическом благополучии населения.<p>
<p class="decree-main">
        <span class="decree-date">27.05.2003</span> 
        <a href="https://rg.ru/2003/05/27/kassy-dok.html">
            ФЗ №54 от 22.05.2003
        </a>
        </p>
        <p class="decree-about">О применении контрольно-кассовой техники при осуществлении наличных денежных расчетов и (или) расчетов с использованием платежных карт.<p>
<p class="decree-main">
        <span class="decree-date">01.09.2010</span> 
        <a href="https://rg.ru/2010/04/14/lekarstva-dok.html">
            ФЗ №61 от 12.04.2010
        </a>
        </p>
        <p class="decree-about">Об обращении лекарственных средств.<p>
<p class="decree-main">
        <span class="decree-date">01.01.2015</span> 
        <a href="http://www.mchs.gov.ru/document/3485811">
            ФЗ №69 от 21.12.1994
        </a>
        </p>
        <p class="decree-about">О пожарной безопасности.<p>
<p class="decree-main">
        <span class="decree-date">30.06.1998</span> 
        <a href="https://rg.ru/1998/06/30/utilizaciya-dok.html">
            ФЗ №89 от 24.06.1998
        </a>
        </p>
        <p class="decree-about">Об отходах производства и потребления.<p>
<p class="decree-main">
        <span class="decree-date">06.05.2011</span> 
        <a href="https://rg.ru/2011/05/06/license-dok.html">
            ФЗ №99 от 04.05.2011
        </a>
        </p>
        <p class="decree-about">О лицензировании отдельных видов деятельности.<p>
<p class="decree-main">
        <span class="decree-date">02.07.2008</span> 
        <a href="https://rg.ru/2008/07/02/izmereniya-dok.html">
            ФЗ №102 от 26.06.2008
        </a>
        </p>
        <p class="decree-about">Об обеспечении единства измерений.<p>
<p class="decree-main">
        <span class="decree-date">29.11.1955</span> 
        <a href="https://rg.ru/1995/11/29/spirt-regulirovanie-dok.html">
            ФЗ №171 от 22.11.1995
        </a>
        </p>
        <p class="decree-about">О государственном регулировании производства и оборота этилового спирта, алкогольной и спиртосодержащей продукции и об ограничении потребления (распития) алкогольной продукции.<p>
<p class="decree-main">
        <span class="decree-date">27.12.2002</span> 
        <a href="https://rg.ru/2002/12/27/tehreglament-dok.html">
            ФЗ №184 от 27.12.2002
        </a>
        </p>
        <p class="decree-about">О техническом регулировании.<p>
<p class="decree-main">
        <span class="decree-date">01.09.2010</span> 
        <a href="https://rg.ru/2010/07/29/lekarstva-dok.html">
            ФЗ №192 от 27.07.2010
        </a>
        </p>
        <p class="decree-about">О внесении изменений в отдельные законодательные акты Российской Федерации в части повышения доступности лекарственного обеспечения жителей сельских поселений.<p>
<p class="decree-main">
        <span class="decree-date">01.02.2002</span> 
        <a href="https://rg.ru/2001/12/31/trud-dok.html">
            ФЗ №197 от 30.12.2001
        </a>
        </p>
        <p class="decree-about">Трудовой кодекс Российской Федерации.<p>
<p class="decree-main">
        <span class="decree-date">01.01.2012</span> 
        <a href="https://rg.ru/2011/07/22/zakupki-dok.html">
            ФЗ №223 от 18.07.2011
        </a>
        </p>
        <p class="decree-about">О закупках товаров, работ, услуг отдельными видами юридических лиц.<p>
<p class="decree-main">
        <span class="decree-date">01.07.2009</span> 
        <a href="https://rg.ru/2008/12/30/prava-kontrol-dok.html">
            ФЗ №294 от 26.12.2008
        </a>
        </p>
        <p class="decree-about">О защите прав юридических лиц и индивидуальных предпринимателей при осуществлении государственного контроля (надзора) и муниципального контроля.<p>
<p class="decree-main">
        <span class="decree-date">22.11.2011</span> 
        <a href="https://rg.ru/2011/11/23/zdorovie-dok.html">
            ФЗ №323 от 21.11.2011
        </a>
        </p>
        <p class="decree-about">Об основах охраны здоровья граждан в Российской Федерации.<p>
<p class="decree-main">
        <span class="decree-date">01.02.2010</span> 
        <a href="https://rg.ru/2009/12/30/torgovlya-dok.html">
            ФЗ №381 от 28.12.2009
        </a>
        </p>
        <p class="decree-about">Об основах государственного регулирования торговой деятельности в Российской Федерации.<p>
<p class="decree-main">
        <span class="decree-date">01.01.2014</span> 
        <a href="https://rg.ru/2013/12/30/ocenka-dok.html">
            ФЗ №426 от 28.12.2013
        </a>
        </p>
        <p class="decree-about">О специальной оценке условий труда.<p>
<p class="decree-main">
        <span class="decree-date">07.02.1992</span> 
        <a href="https://rg.ru/2008/12/01/pravapotr-dok.html">
            Закон РФ №2300-1 от 07.02.1992
        </a>
        </p>
        <p class="decree-about">О защите прав потребителей.<p>
<p class="decree-main">
        <span class="decree-date">27.12.2007</span> 
        <a href="http://protect.gost.ru/v.aspx?control=8&baseC=-1&page=0&month=-1&year=-1&search=&RegNum=1&DocOnPageCount=15&id=165471">
            ГОСТ Р №52875-2007 от 27.12.2007
        </a>
        </p>
        <p class="decree-about">Указатели тактильные наземные для инвалидов по зрению. Технические требования.<p>
<p class="decree-main">
        <span class="decree-date">02.02.1995</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=1995005000&docid=72">
            Постановление Правительства РФ №59 от 16.01.1995
        </a>
        </p>
        <p class="decree-about">"О федеральной комплексной программе ""Социальная поддержка инвалидов""".<p>
<p class="decree-main">
        <span class="decree-date">09.12.2015</span> 
        <a href="http://publication.pravo.gov.ru/Document/View/0001201512090027">
            ПРИКАЗ №802н от 12.11.2015
        </a>
        </p>
        <p class="decree-about">Об утверждении Порядка обеспечения условий доступности для инвалидов объектов инфраструктуры государственной, муниципальной и частной систем здравоохранения и предоставляемых услуг в сфере охраны здоровья, а также оказания им при этом необходимой помощи.<p>
<p class="decree-main">
        <span class="decree-date">24.11.1995</span> 
        <a href="https://rg.ru/1995/11/24/invalidy-dok.html">
            ФЗ №181 от 24.11.1995
        </a>
        </p>
        <p class="decree-about">О социальной защите инвалидов в Российской Федерации.<p>
<p class="decree-main">
        <span class="decree-date">01.05.2000</span> 
        <a href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102065648&rdk=">
            Постановление Правительства РФ №379 от 27.04.2000
        </a>
        </p>
        <p class="decree-about">О накоплении, хранении и использовании в целях гражданской обороны запасов материально-технических, продовольственных, медицинских и иных средств.<p>
<p class="decree-main">
        <span class="decree-date">08.05.2012</span> 
        <a href="https://rg.ru/2012/05/08/protivopojar-site-dok.html">
            Постановление Правительства РФ №390 от 25.04.2012
        </a>
        </p>
        <p class="decree-about">"О противопожарном режиме (вместе с ""Правилами противопожарного режима в Российской Федерации"")".<p>
<p class="decree-main">
        <span class="decree-date">15.09.2003</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=2003037000&docid=26">
            Постановление Правительства РФ №547 от 04.09.2003
        </a>
        </p>
        <p class="decree-about">О подготовке населения в области защиты от чрезвычайных ситуаций природного и техногенного характера.<p>
<p class="decree-main">
        <span class="decree-date">10.07.1999</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=1999029000&docid=1964">
            Постановление Правительства РФ №782 от 10.07.1999
        </a>
        </p>
        <p class="decree-about">О создании (назначении) в организациях структурных подразделений (работников), уполномоченных на решение задач в области гражданской обороны.<p>
<p class="decree-main">
        <span class="decree-date">20.01.2004</span> 
        <a href="https://rg.ru/2004/01/20/4p-doc.html">
            Постановление Правительства РФ №794 от 30.12.2003
        </a>
        </p>
        <p class="decree-about">О единой государственной системе предупреждения и ликвидации чрезвычайных ситуаций.<p>
<p class="decree-main">
        <span class="decree-date">01.12.2007</span> 
        <a href="https://rg.ru/2007/12/01/oborona-doc.html">
            Постановление Правительства РФ №804 от 26.11.2007
        </a>
        </p>
        <p class="decree-about">Об утверждении Положения о гражданской обороне в Российской Федерации.<p>
<p class="decree-main">
        <span class="decree-date">24.11.2000</span> 
        <a href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102068133&rdk=&backlink=1">
            Постановление Правительства РФ №841 от 02.11.2000
        </a>
        </p>
        <p class="decree-about">Об утверждении Положения об организации обучения населения в области гражданской обороны.<p>
<p class="decree-main">
        <span class="decree-date">08.01.2013</span> 
        <a href="https://rg.ru/2012/12/28/polojenie-dok.html">
            ПРИКАЗ №687 от 14.11.2008
        </a>
        </p>
        <p class="decree-about">Об утверждении Положения об организации и ведении гражданской обороны в Рособоронзаказе.<p>
<p class="decree-main">
        <span class="decree-date">31.07.2006</span> 
        <a href="http://www.mchs.gov.ru/law/Normativno_pravovie_akti_Ministerstva/item/5380556/">
            ПРИКАЗ №440 от 31.07.2006
        </a>
        </p>
        <p class="decree-about">Об утверждении положения об уполномоченных на решение задач в области гражданской обороны структурных подразделениях (работниках) организаций.<p>
<p class="decree-main">
        <span class="decree-date">31.03.2008</span> 
        <a href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102154998&">
            ПРИКАЗ №645 от 12.12.2007
        </a>
        </p>
        <p class="decree-about">"Об утверждении Норм пожарной безопасности ""Обучение мерам пожарной безопасности работников организаций""".<p>
<p class="decree-main">
        <span class="decree-date">20.07.2015</span> 
        <a href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102376827&rdk=&backlink=1">
            ПРИКАЗ №543 от 01.10.2014
        </a>
        </p>
        <p class="decree-about">Об утверждении Положения об организации обеспечения населения средствами индивидуальной защиты.<p>
<p class="decree-main">
        <span class="decree-date">12.02.1998</span> 
        <a href="http://pravo.gov.ru/proxy/ips/?docbody=&prevDoc=102065648&backlink=1&&nd=102051585">
            ФЗ №28 от 28.01.1998
        </a>
        </p>
        <p class="decree-about">О гражданской обороне.<p>
<p class="decree-main">
        <span class="decree-date">26.12.1994</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=1994035000&docid=6099">
            ФЗ №68 от 21.12.1994
        </a>
        </p>
        <p class="decree-about">О защите населения и территорий от чрезвычайных ситуаций природного и техногенного характера.<p>
<p class="decree-main">
        <span class="decree-date">12.03.2017</span> 
        <a href="http://publication.pravo.gov.ru/Document/View/0001201703010024">
            ПРИКАЗ №47н от 08.02.2017
        </a>
        </p>
        <p class="decree-about">Об утверждении перечня лекарственных препаратов для медицинского применения, в отношении которых устанавливаются требования к объему тары, упаковке и комплектности.<p>
<p class="decree-main">
        <span class="decree-date">03.07.2006</span> 
        <a href="http://www.szrf.ru/doc.phtml?nb=edition00&issid=2006027000&docid=93">
            ФЗ №90 от 16.06.2006
        </a>
        </p>
        <p class="decree-about">О внесении изменений в Трудовой кодекс Российской Федерации,признании не действующими на территории Российской Федерации некоторых нормативных правовых актов СССР и утратившими силу некоторых законодательных актов (положений законодательных актов)Российской Федерации.<p>