header
    nav.navbar.navbar-default
        .container
            .navbar-header
                a.navbar-brand(href="index.html" style="padding: 15px 30px 0 0;") 
                    img(src="logo.png" style="display: inline; margin-left: 20px; margin-top: -7px")
                    span(style="margin-left: 10px; margin-top: -10px; font-size: 25px") Фармком
                button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-main")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            div#navbar-main.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li: a(href="magistr.html") 
                        i.glyphicon.glyphicon-education
                        span МАГИСТР
                    li: a(href="documents.html") Нормативные документы
                    li: a(href="about.html") О компании
                ul.nav.navbar-nav.navbar-right
                    li.contact
                        a(href="mailto: phc@farmcom.ru") 
                            i.fa.fa-envelope
                            span phc@farmcom.ru
                    li.contact
                        a(href="tel:+74953053449") 
                            i.fa.fa-phone
                            span +7 (495) 305-34-49