head
    title Фармком. Автоматизация аптек.

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    meta(name="description" content="Автоматизация аптечного бизнеса")
    meta(name="keywords" content="Аптека,Аптечный пункт,Автоматизация,Касса")
    meta(name="author" content="Фармком")

    link(rel="shortcut icon" type="image/png" href="/favicon.png")

    link(rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css")
    //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="styles/site.css")
