header
    nav.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#" style="padding: 15px 30px 0 0;") 
                    img(src="logo.png" style="display: inline; margin-left: 20px; margin-top: -7px")
                    span(style="margin-left: 10px; margin-top: -10px; font-size: 25px") Фармком
                button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-main")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            div#navbar-main.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li: a(href="#") Help
                    li: a(href="#") Help
                    li: a(href="#") Help
                ul.nav.navbar-nav.navbar-right
                    li: a(href="#") Help
                    li: a(href="#") Help
                    li: a(href="#") Help