doctype html
html
    include head.pug
    include scripts.pug
    body
        include header.pug
        .container
            block content
        include footer.pug
        include ga.html
